- ехал грека:
  - через
  - реку
  - видит грека
  - в реке рак:
    - сунул грека
    - руку в реку
    - рак за руку
    - греку цап
- списки могут быть
- вложенны:
  - хоть:
    - 200:
      - раз
- но не должны дублироваться
